<template #streetConditionDialog let-close="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Tien kunto</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="error">Virhe tallennuksessa</p>
    <p *ngIf="success">Tallennus onnistui!</p>
    <p>{{parameters.id_}}</p>
    <p>{{parameters.name}}</p>
    <select class="custom-select" [(ngModel)]="parameters.worstura">
      <option *ngFor="let condition of conditionOptions" [ngValue]="condition.value">{{condition.label}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Tallenna</button>
    <button class="btn btn-default" (click)="close()">Sulje</button>
  </div>
</template>
