<template #streetConditionDialog let-close="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Tien kunto</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div *ngIf="error" class="row">
        <p>Virhe tallennuksessa</p>
      </div>
      <div class="row">
        <p>Nimi: {{properties.name}}</p>
      </div>
      <div class="row">
        <p>Päivitetty: {{properties.updated | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="row">
        <label class="col-form-label">Kunto</label>
        <select class="form-control" [(ngModel)]="properties.worstura">
          <option *ngFor="let condition of conditionOptions" [ngValue]="condition.value">{{condition.label}}</option>
        </select>
      </div>
      <div class="row">
        <label class="col-form-label">Lisätiedot</label>
        <textarea class="form-control" rows=3 [(ngModel)]="properties.comment"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Tallenna</button>
    <button class="btn btn-default" (click)="close()">Sulje</button>
  </div>
</template>
