<template ngbModalContainer></template>
<select id="layer-switcher" class="ol-control form-control"></select>
<div id="controls" class="ol-control">
  <button id="add-patch">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </button>
</div>
<div id="map"></div>
<esp-street-layer
  *ngIf="showMap"
  [map]="map"
  [mapClickObservable]="mapClickObservable">
</esp-street-layer>
<esp-patch-layer
  *ngIf="showMap"
  [map]="map"
  [mapClickObservable]="mapClickObservable">
</esp-patch-layer>
<div id="legend-holder" class="ol-control">
  <button id="toggle-legend" (click)="showLegend = !showLegend">
    <i class="fa fa-list" aria-hidden="true"></i>
  </button>
  <div id="legend" [hidden]="!showLegend">
    <img src="">
  </div>
</div>
