<div class="container">
    <div class="bg-danger text-white" *ngIf="error">
      {{ error }}
    </div>
    <form>
      <legend>Salasanan palautus</legend>
      <div class="form-group row">
        <div class="col-sm-10">
          <p class="font-italic">Sähköpostiinne on lähetetty koodi salasanan palauttamista varten.
            Syötä koodi ja uusi salasana alla olevaan lomakkeeseen.
          </p>
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Käyttäjätunnus</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" required id="username" name="username" [(ngModel)]="username">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Koodi</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" required id="verificatoin-code" name="verification-code" [(ngModel)]="verificationCode">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Uusi salasana</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" required id="password" name="password" [(ngModel)]="password">
        </div>
      </div>
      <div class="form-group row">
        <label for="verify-password" class="col-sm-2 col-form-label">Salasana uudestaan</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" required id="verify-password" name="verify-password" [(ngModel)]="verifyPassword">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" [disabled]="processing" (click)="changePassword()" class="btn btn-primary">
            Vaihda salasana
            <i class="fa fa-spinner fa-spin" *ngIf="processing"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
