<template #patchDialog let-close="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Paikkauskohde</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <label>
          Paikattu <input type="checkbox" [(ngModel)]="properties.ready">
        </label>
      </div>
      <div class="row">
        <p>Päivitetty: {{properties.updated | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="row">
        <label class="col-form-label">Asfalttilaji</label>
        <select class="form-control" [(ngModel)]="properties.pavementCombined">
          <option *ngFor="let type of pavementTypes" [ngValue]="type">{{type}}</option>
        </select>
      </div>
      <div class="row">
        <label class="col-form-label">Ylläpitäjä</label>
        <select class="form-control" [(ngModel)]="properties.maintby">
          <option *ngFor="let maintenancer of maintenancers" [ngValue]="maintenancer">{{maintenancer}}</option>
        </select>
      </div>
      <div class="row">
        <label class="col-form-label">Lisätiedot</label>
        <textarea class="form-control" rows=5 [(ngModel)]="properties.comment"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <div *ngIf="confirmDelete">
        <div class="mx-auto alert alert-danger">Haluatko varmasti poistaa paikkausmerkinnän?</div>

        <div class="clearfix">
          <div class="float-right">
            <button class="btn btn-danger" (click)="delete()">Kyllä</button>
            <button class="btn btn-default" (click)="confirmDelete = false">Ei</button>
          </div>
        </div>
      </div>

      <div class="clearfix" *ngIf="!confirmDelete">
        <div class="float-right">
          <button *ngIf="!addPatch" class="btn btn-danger" (click)="confirmDelete = true">Poista</button>
          <button class="btn btn-primary" (click)="save()">Tallenna</button>
          <button class="btn btn-default" (click)="close()">Sulje</button>
        </div>
      </div>


  </div>
</template>
