<template #patchDialog let-close="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Paikkauskohde</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{feature.get('id')}}</p>
    <label>Valmis <input type="checkbox" [(ngModel)]="ready"></label>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Tallenna</button>
    <button class="btn btn-default" (click)="close()">Sulje</button>
  </div>
</template>
